
/*@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}*/


.nav-pills .nav-link {
    color: #333;
    background-color: #f8f9fa;
    border-radius: 0;
}

    .nav-pills .nav-link.active {
        background-color: #0d6efd;
        color: #fff;
    }

    .nav-pills .nav-link:hover {
        background-color: #e9ecef;
        color: #0d6efd;
    }